@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="text-align: center">
    @*<h1>ASP.NET</h1>*@
    <input type="button" value="导出" onclick="location.href = '@Url.Action("GetExport","Home")'" />
</div>
